<a href="https://colab.research.google.com/github/savoskin0502/public-procurement-optimization/blob/main/ML_goszakup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
from google.colab import userdata

api_key = userdata.get('api_key')

# Define API details
base_url = "https://ows.goszakup.gov.kz/"  # Replace with the actual base URL
endpoint = "/v3/plans/spec"
url = base_url + endpoint

# Authorization token
headers = {
    "Authorization": "Bearer " + api_key,
    "Content-Type": "application/json",
}

# Make the GET request
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Parse the JSON response
    # Convert to DataFrame
    df = pd.DataFrame(data)
    print(df.head())  # Display the first few rows of the DataFrame
else:
    print(f"Error: {response.status_code}")
    print(response.text)

      total  limit                                       next_page  \
0  19287590     50  /v3/plans/spec?page=next&search_after=45032776
1  19287590     50  /v3/plans/spec?page=next&search_after=45032776
2  19287590     50  /v3/plans/spec?page=next&search_after=45032776
3  19287590     50  /v3/plans/spec?page=next&search_after=45032776
4  19287590     50  /v3/plans/spec?page=next&search_after=45032776

                                               items
0  {'id': 45033335, 'pln_points_id': 73414889, 'r...
1  {'id': 45033324, 'pln_points_id': 73417077, 'r...
2  {'id': 45033302, 'pln_points_id': 73417048, 'r...
3  {'id': 45033285, 'pln_points_id': 73417028, 'r...
4  {'id': 45033257, 'pln_points_id': 73416943, 'r...

In [ ]:
all_items = []
for item in df['items']:
    normalized_item = pd.json_normalize(item)
    all_items.append(normalized_item)

# Concatenate all normalized items into a single DataFrame
all_items_df = pd.concat(all_items, ignore_index=True)

all_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       50 non-null     int64
 1   pln_points_id            50 non-null     int64
 2   ref_ekrb_id              50 non-null     int64
 3   ekrb_code                50 non-null     object
 4   ekrb_name_ru             50 non-null     object
 5   ekrb_name_kz             50 non-null     object
 6   count                    50 non-null     float64
 7   price                    50 non-null     float64
 8   ref_fkrb_subprogram_id   50 non-null     int64
 9   fkrb_subprogram_code     50 non-null     object
 10  fkrb_subprogram_name_ru  50 non-null     object
 11  fkrb_subprogram_name_kz  50 non-null     object
 12  ref_fkrb_id              50 non-null     int64
 13  abp_code                 50 non-null     object
 14  abp_name_ru              50 non-null     object
 15  abp_name_kz              50 non-null     object
 16  amount                   50 non-null     float64
 17  ref_fkrb_program_id      50 non-null     int64
 18  fkrb_program_code        50 non-null     object
 19  fkrb_program_name_ru     50 non-null     object
 20  fkrb_program_name_kz     50 non-null     object
 21  is_active                50 non-null     int64
 22  is_deleted               50 non-null     int64
 23  system_id                50 non-null     int64
 24  index_date               50 non-null     object
dtypes: float64(3), int64(9), object(13)
memory usage: 9.9+ KB